---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Sobre | Nico Melgarejo" description="Sobre Nicolás Melgarejo Sabelle">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre mi"
				tagline="La desescolarización es el camino para encontrar nuevas formas de aprendizaje y la libertad intelectual."
			>
				<img
					width="1553"
					height="873"
					src="https://ticlasss.s3.amazonaws.com/uploaded/bankfiles/images/2023/05/16/nicofotoen_646406acdca795245c4f46cb.jpg"
					alt="Nicolás Melgarejo dictando clases gratuitas de PAES en la plaza Quinta Normal a un grupo de estudiantes."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
						<p>Mi nombre es <b><a href="https://api.whatsapp.com/send?phone=56963921169&text=Quiero%20contactarme%20contigo" target="_blank">Nicolás Melgarejo Sabelle</a></b>, soy Profesor de Matemática y Física y fundador de <a href="https://www.ticlass.com" target="_blank">TIClass.</a></p> <br>

						<p> Me apasiona el mundo del <b>EdTech</b> (Tecnolgía al servicio de la educación), el <b>emprendimiento</b>, la <b>programación</b>, la <b>creación de libros</b>, pero sobretodo el buscar de qué forma la tecnología podría (o no) potenciar nuestras experiencias de aprendizaje.</p><br>

						<p>Participo activamente en la <a href="http://www.profesdefisica.cl" target="_blank">Red de Profesores de Física</a>, donde soy responsable del desarrollo tecnológico y audiovisual del proyecto.</p><br>

						<p>Aprendí Desarrollo Web con <b>Ruby on Rails</b> en la Academia <a href="https://www.desafiolatam.com/estudiantes" target="_blank" >Desafío Latam</a> con lo que pude desarrollar la primera versión de TIClass en el 2015.</p><br>
						
						<p>Luego, en el 2018, desarrollé el MVP <a href="http://www.profes.cl" target="_blank">Profes.cl</a>. Con este proyecto gané un torneo EdTech organizado por la UDP lo que me permitió ir a Silicon Valley el 2019.</p><br>

						
<p>Para temas diversos, sígueme en instagram: <a href="https://www.instagram.com/naseroc1" target="_blank">@naseroc1</a>, en twitter: <a href="https://www.twitter.com/naseroc1" target="_blank">@naseroc1</a>. Para más información sobre mi carrera profesional, visita mi <a href="https://www.linkedin.com/in/nicolas-melgarejo-sabelle-91a33615/" target="_blank">perfil de Linkedin.</a></p><br>
<p>Si tienen alguna pregunta o sugerencia, por favor escríbeme a: <a href="mailto:nicolas@ticlass.com">nicolas@ticlass.com</a>
				</div>
			</section>
			<section>
				<h2 class="section-title">Otros proyectos</h2>
				<div class="content">
					<p>Otros de los proyectos más recientes y destacados donde he participado son:</p>
					<ul>
					<li><a href="https://open.spotify.com/show/0Xb2DBhc0CuPlM2O0fatxt" target="_blank">PODCAST Profes.cl con Eli Villanueva</a></li>
					<li><a href="https://www.youtube.com/watch?v=84Mzvag53BI&t=8s" target="_blank">Primer Preuniversitario via Streaming de Chile</a></li>
					<li><a href="https://www.ticlass.com/blog/2019/11/17/180-resolucion-psu-ciencias-matematica-2017-demre-con-videos" target="_blank">Facsímiles Modelos DEMRE con Resolución en video</a></li>
					<li><a href="https://www.painequeo.cl/nicolas-melgarejo" target="_blank">Preuniversitario Painequeo</a></li>
					<li><a href="https://www.antartica.cl/antartica/servlet/LibroServlet?action=fichaLibro&id_libro=136015" target="_blank">Manual Geogebra para libro Geometría 2º Edición, Editorial: McGraw-Hill</a></li>
					<li><a href="https://www.ticlass.com/blog/2019/08/01/5-libro-psu-fisica-plan-comun" target="_blank">Primer libro gratuito PSU Física: Manual de preparación Física PSU</a></li>
					<li><a href="https://es.scribd.com/lists/2421893/PSU" target="_blank">Guías de contenido Puntaje Nacional</a></li>
					<li><a href="#" target="_blank">Construcción ítems SIMCE para Agencia de Calidad de la Educación</a></li>
					<li><a href="https://www.publimetro.cl/cl/diario-pyme/2014/11/10/nueva-aplicacion-que-sirve-que-estudiantes-preparen-psu.html" target="_blank">Aplicación PSU Desafío 850</a></li>
					<li><a href="https://www.aprendolibre.cl/landing" target="_blank">Plataforma Aprendolibre.com</a></li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills que no van en el currículum</h2>
				<div class="content">
					<p></p>
					<p>Pude comer 5 galletas de soda en 1 minuto.</p>
					<p>Participé como Tenor (terror) en la grabación de un disco de música católico llamado "Tazié, Amor de Todo Amor"</p>
					<p>Jugué vóleibol a nivel competitivo en el Club Providencia de Chile. Era el capitan de Club Providencia y de mi colegio.</p>
					<p>Una vez gané el premio a mejor jugador de un torneo de Vóleibol, en la Copa Italia.</p>
					<p>Manejo muy bien mecánico.</p>
					<p>Dibujé un fractal con Javascript.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
